.nav-list-container {
  padding: 25px 20px;
}

.nav-list-container a[mat-list-item] {
  margin-bottom: 8px; 
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.nav-list-container a[mat-list-item] mat-icon {
  margin-right: 16px; 
}

.nav-list-container a[mat-list-item]:not(.active-link) mat-icon {
  color: #616161; 
}

.nav-list-container a[mat-list-item].active-link {
  background-color: #e8eaf6;
  color: #3f51b5;
  font-weight: 700;
}

.nav-list-container a[mat-list-item]:not(.active-link):hover {
  background-color: #f5f5f5;
}