<mat-card class="auth-card">
  <mat-card-title>Set new password</mat-card-title>

  <mat-card-content class="card-content">
    <p class="intro-text">
      Enter your new password below to reset your account password.
    </p>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>New password</mat-label>
        <input matInput formControlName="newPassword" [type]="hidePassword() ? 'password' : 'text'">
        <button mat-icon-button matSuffix type="button" (click)="hidePassword.set(!hidePassword())" [attr.aria-label]="'Hide password'">
          <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if (resetPasswordForm.get('newPassword')?.touched && resetPasswordForm.get('newPassword')?.hasError('required')) {
          <mat-error>Password is required.</mat-error>
        }
        @if (resetPasswordForm.get('newPassword')?.hasError('minlength')) {
          <mat-error>The password must contain at least 5 characters.</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Confirm password</mat-label>
        <input matInput formControlName="passwordConfirmation" type="password">
        @if (resetPasswordForm.get('passwordConfirmation')?.touched && resetPasswordForm.get('passwordConfirmation')?.hasError('required')) {
          <mat-error>Password confirmation is required.</mat-error>
        }
      </mat-form-field>
      
      @if (resetPasswordForm.touched && resetPasswordForm.hasError('passwordsNotMatching')) {
        <mat-error class="form-error">Passwords not match.</mat-error>
      }

      <mat-card-actions class="card-actions">
        <button
          mat-flat-button
          color="primary"
          class="submit-button"
          type="submit"
          [disabled]="resetPasswordForm.invalid || isLoading()">
          @if (!isLoading()) {
            <span>Save new passwords</span>
          } @else {
            <mat-spinner [diameter]="24" />
          }
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>

