<mat-card class="auth-card">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        @if (loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')) {
        <mat-error>E-mail is required.</mat-error>
        }
        @if (loginForm.get('email')?.hasError('email')) {
        <mat-error>Please enter a valid email address.</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" [type]="hidePassword() ? 'password' : 'text'">
        <button mat-icon-button matSuffix type="button" (click)="hidePassword.set(!hidePassword())"
          [attr.aria-label]="'Hide password'">
          <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if (loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')) {
        <mat-error>Password is required.</mat-error>
        }
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class="card-actions">
    <button mat-flat-button color="primary" class="submit-button" [disabled]="loginForm.invalid || isLoading()"
      (click)="onSubmit()">

      @if (!isLoading()) {
      <span>Log in</span>
      } @else {
      <mat-spinner [diameter]="24" />
      }
    </button>
  </mat-card-actions>

  <mat-card-footer class="card-footer">
    <span>Forgot password? </span>
    <a routerLink="/recover-password">Recover password</a>
  </mat-card-footer>
</mat-card>