<h2 mat-dialog-title>Edit Transaction</h2>

<mat-dialog-content>
  <form [formGroup]="updateTransactionForm" class="dialog-form">
    
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
      <!-- <mat-error *ngIf="form.get('title')?.hasError('required')">
        Tytuł jest wymagany
      </mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Amount</mat-label>
      <input matInput type="number" formControlName="amount">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  
  <button mat-button color="warn" (click)="onReset()">Reset</button>
  
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="updateTransactionForm.invalid || isUnchanged">
    Zapisz
  </button>
</mat-dialog-actions>