<div class="dialog-container">
  <div class="dialog-header">
    <div class="header-content">
      <h2 class="title">Edit Transaction</h2>
      <p class="subtitle">Update the transaction details below</p>
    </div>
    <button mat-icon-button mat-dialog-close class="close-btn">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <mat-dialog-content>
    <form [formGroup]="updateTransactionForm" class="custom-form">

      <h3 class="section-header">GENERAL</h3>

      <div class="input-group">
        <label class="custom-label">Amount</label>
        <mat-form-field appearance="outline" class="no-label-field short">
          <input matInput type="number" formControlName="amount">
        </mat-form-field>
      </div>

      <div class="input-group">
        <label class="custom-label">Transaction Title</label>
        <mat-form-field appearance="outline" class="no-label-field">
          <input matInput formControlName="title">
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>

      <h3 class="section-header spacer-top">CHANGE CATEGORY</h3>

      <div class="input-group">
        <label class="custom-label">Category</label>

        <div class="input-row-with-message">

          <div class="flex-grow-field">
            <mat-form-field appearance="outline" class="no-label-field" [class.short]="!data.isRecurring" style="width: 100%">
              <mat-select formControlName="categoryId">
                @for (cat of data.categories; track cat.id) {
                  <mat-option [value]="cat.id">{{ cat.name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          @if (data.isRecurring) {
            <div class="field-info-message-side">
              <mat-icon>info</mat-icon>
              <span>Cannot change category for recurring transaction.</span>
            </div>
          }

        </div>
      </div>

      <mat-divider></mat-divider>

      <h3 class="section-header spacer-top">Additional</h3>

      <div class="input-group">
        <label class="custom-label">Transaction Note</label>
        <mat-form-field appearance="outline" class="no-label-field">
          <textarea 
            matInput 
            formControlName="description" 
            placeholder="Add a note for this transaction..." 
            rows="2"></textarea>
        </mat-form-field>
      </div>

      <div class="input-group">
        <label class="custom-label">Attachment</label>
  
        <input 
          type="file" 
          #fileInput 
          hidden 
          accept="image/png, image/jpeg, image/jpg"
          (change)="onFileSelected($event)">

        <div class="receipt-container">

        @if (!currentPhotoPreviewUrl()) {
          <div class="upload-zone" (click)="fileInput.click()">
            <div class="upload-content">
              <mat-icon class="upload-icon">vertical_align_top</mat-icon> 
              <span class="upload-text">Click to upload</span>
              <span class="upload-hint">PNG, JPG or JPEG (max 5MB)</span>
            </div>
          </div>
        }

        @if (currentPhotoPreviewUrl()) {
          <div class="preview-zone">
            <button mat-icon-button type="button" class="remove-btn" (click)="onFileRemove()">
              <mat-icon>close</mat-icon>
            </button>

            <div class="image-wrapper">
              <img 
                [src]="currentPhotoPreviewUrl()" 
                alt="Receipt preview" 
                (click)="fileInput.click()" 
                style="cursor: pointer" 
                title="Click to change image">
            </div>

            @if (selectedFile()) {
              <p class="file-name">{{ selectedFile()?.name }}</p>
            } @else {
              <p class="file-name"> {{data.attachmentData?.originalFileName}}</p>
            }
          </div>
        }
        </div>
      </div>

    </form>
  </mat-dialog-content>

  <mat-dialog-actions class="dialog-footer">
    <button mat-button mat-dialog-close class="btn-secondary">Cancel</button>
    <button mat-button type="button" (click)="onReset()" class="btn-secondary">Reset</button>
    <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="updateTransactionForm.invalid || isUnchanged()" class="btn-primary">
      Save Changes
    </button>
  </mat-dialog-actions>

</div>