h2 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    padding: 16px 24px;
}

h2.error {
    color: --var(--error-color);
}

h2.success {
    color: --var(--primarry-color);
}

h2.warning {
    color: --var(--warn-color);
}

h2.info {
    color: --var(--primarry-color);
}

.date {
    color: #888;
    font-size: 0.8rem;
    margin-bottom: 15px;
}

.message {
    white-space: pre-wrap;
    font-size: 1rem;
    line-height: 1.5;
}