:host {
    display: block;
}

.icon-wrapper {
    padding: 5px;
    width: 34px;
    height: 34px;
    border-radius: 10px;
    background: #f5f7fa;
    color: var(--balance-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;

    .img-icon {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    mat-icon {
        font-size: 20px;
        width: 20px;
        height: 20px;
    }

    &.type-expense {
        background-color: var(--default-light-red);
        border: 1px solid #ffcdd2;
    }

    &.type-income {
        background-color: var(--default-light-green);
        border: 1px solid #c8e6c9;
    }

    &.type-general {
        background-color: #f5f5f5;
        border: 1px solid #e0e0e0;
    }
}