.nav-header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 30px 20px; 
  border-bottom: 2px solid #e0e0e0;
  margin: 10px;
}

.nav-header {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin: 0; 
}

.nav-list-container {
  padding: 5px 20px;
}

.nav-list-container a[mat-list-item] {
  margin-bottom: 8px; 
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.nav-list-container a[mat-list-item] mat-icon {
  margin-right: 16px; 
}

.nav-list-container a[mat-list-item]:not(.active-link) mat-icon {
  color: #616161; 
}

.nav-list-container a[mat-list-item].active-link {
  background-color: #e8eaf6;
  color: #3f51b5;
  font-weight: 700;
}

.nav-list-container a[mat-list-item]:not(.active-link):hover {
  background-color: #f5f5f5;
}