<h2 mat-dialog-title>Change password</h2>

<mat-dialog-content>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="dialog-form" autocomplete="off">
    
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Current password</mat-label>
      <input matInput formControlName="oldPassword" type="password" autocomplete="current-password">
      
      @if (changePasswordForm.get('oldPassword')?.touched && changePasswordForm.get('oldPassword')?.hasError('required')) {
        <mat-error>Current password is required.</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>New password</mat-label>
      <input matInput formControlName="newPassword" [type]="hidePassword() ? 'password' : 'text'" autocomplete="new-password">
      <button mat-icon-button matSuffix type="button" (click)="hidePassword.set(!hidePassword())">
        <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      @if (changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.hasError('required')) {
        <mat-error>New password is required.</mat-error>
      }
      @if (changePasswordForm.get('newPassword')?.hasError('minlength')) {
        <mat-error>New password has to contains at least 5 characters.</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Confirm new password</mat-label>
      <input matInput formControlName="passwordConfirmation" type='password' autocomplete="new-password">

      @if (changePasswordForm.get('passwordConfirmation')?.touched && changePasswordForm.get('passwordConfirmation')?.hasError('required')) {
        <mat-error>Password confirmation is required.</mat-error>
      }
    </mat-form-field>

    @if (changePasswordForm.touched && changePasswordForm.hasError('passwordsNotMatching')) {
      <mat-error class="form-error">Passwords not match.</mat-error>
    }

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  
  <button
    mat-flat-button
    color="primary"
    class="submit-button"
    type="submit"
    (click)="onSubmit()"
    [disabled]="changePasswordForm.invalid || isLoading()">
    @if (!isLoading()) {
      <span>Save changes</span>
    } @else {
      <mat-spinner [diameter]="20" />
    }
  </button>
</mat-dialog-actions>