
  <mat-card class="auth-card">
    <mat-card-title>Registration</mat-card-title>
    
    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
          @if (registerForm.get('name')?.touched && registerForm.get('name')?.hasError('required')) {
            <mat-error>Name is required.</mat-error>
          }
          @if (registerForm.get('name')?.hasError('minlength')) {
            <mat-error>Name has to contains at least 2 characters.</mat-error>
          }
          @if (registerForm.get('name')?.hasError('maxlength')) {
            <mat-error>Name can contain up to 30 characters.</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Surname</mat-label>
          <input matInput formControlName="surname" />
          @if (registerForm.get('surname')?.touched && registerForm.get('surname')?.hasError('required')) {
            <mat-error>Surname is required.</mat-error>
          }
          @if (registerForm.get('surname')?.hasError('minlength')) {
            <mat-error>Surname has to contains at least 2 characters.</mat-error>
          }
          @if (registerForm.get('surname')?.hasError('maxlength')) {
            <mat-error>Surname can contain up to 30 characters.</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" />
          @if (registerForm.get('email')?.touched && registerForm.get('email')?.hasError('required')) {
            <mat-error>E-mail is required.</mat-error>
          }
          @if (registerForm.get('email')?.hasError('email')) {
            <mat-error>Please enter a valid email address..</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" [type]="hidePassword() ? 'password' : 'text'">
          <button mat-icon-button matSuffix type="button" (click)="hidePassword.set(!hidePassword())" [attr.aria-label]="'Hide password'">
            <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          @if (registerForm.get('password')?.touched && registerForm.get('password')?.hasError('required')) {
            <mat-error>Password is required.</mat-error>
          }
          @if (registerForm.get('password')?.hasError('minlength')) {
            <mat-error>Password must contains at least 5 characters.</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Confirm password</mat-label>
          <input matInput formControlName="passwordConfirmation" type="password">
          @if (registerForm.get('passwordConfirmation')?.touched && registerForm.get('passwordConfirmation')?.hasError('required')) {
            <mat-error>Password confirmation is required.</mat-error>
          }
        </mat-form-field>


        @if (registerForm.touched && registerForm.hasError('passwordsNotMatching')) {
          <mat-error class="form-error">Passwords not match.</mat-error>
        }

      </form>
    </mat-card-content>

    <mat-card-actions class="card-actions">
      <button
        mat-flat-button
        color="primary"
        class="submit-button"
        [disabled]="registerForm.invalid || isLoading()"
        (click)="onSubmit()">

        @if (!isLoading()) {
          <span>Sign up</span>
        } @else {
          <mat-spinner [diameter]="24" />
        }
      </button>
    </mat-card-actions>

    <mat-card-footer class="card-footer">
      <span>Already have an account? </span>
      <a routerLink="/login">Log in</a>
    </mat-card-footer>
  </mat-card>

