.dialog-container {
  padding: 0px;
  font-family: var(--font-family-default);
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 24px 0 24px;
  
  .title {
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: 700;
    color: #111827;
    line-height: 1.2;
  }

  h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #111827;
  }

  .subtitle {
    margin: 4px 0 0 0;
    font-size: 14px;
    color: #6b7280;
  }

  .close-btn {
    margin-top: -12px;
    margin-right: -12px;
    color: #9ca3af;
  }
}

::ng-deep .custom-form {
  display: flex;
  flex-direction: column;
  gap: 25px !important;
  padding-top: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &.width-small {
    max-width: 150px;
  }
}

.form-row {
  display: flex;
  gap: 16px;
  
  .input-group {
    flex: 1;
  }
}

.custom-label {
  font-size: 14px;
  font-weight: 600;
  color: #111827;
}

::ng-deep .no-label-field {
  width: 100%;

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  .mat-mdc-text-field-wrapper {
    padding: 0;
    height: 42px;
  }

  .mat-mdc-form-field-flex {
    height: 100%;
    align-items: center;
    padding: 0 12px;
  }

  input.mat-mdc-input-element {
    margin-top: 0 !important;
  }

  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border-color: #706b6b !important;
    border-width: 1px !important;
  }

  .mdc-notched-outline__notch {
    border-top-width: 1px !important; 
  }

  .mdc-notched-outline {
     border-radius: 8px !important;
  }

  &.mat-focused {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-color: #2563eb !important;
      border-width: 1px !important;
    }
  }
}

::ng-deep .input-group textarea {
    min-height: 80px;
    padding: 8px 0;
}
::ng-deep .input-group:has(textarea) .mat-mdc-text-field-wrapper {
    height: auto; 
}

mat-dialog-content {
  padding: 20px 24px !important;
  margin: 0;
}

.custom-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dialog-footer {
  display: grid !important; 
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 16px;
  padding: 16px 24px 24px 24px;
  margin: 0;
  border-top: 1px solid #f3f4f6;

  .right-actions {
      display: flex;
      gap: 12px;
  }

  button {
    width: 100%;
    margin: 0 !important;
    height: 42px;
    border-radius: 6px;
    font-weight: 500;
  }

  .btn-secondary {
    background-color: #fff;
    border: 1px solid #e5e7eb;
    color: #374151;
    
    &:hover {
        background-color: #f9fafb;
    }
  }

  .btn-primary {
    background-color: var(--primary-color) !important;
    color: white !important;

    &:disabled {
      background-color: #6e94e8 !important;
    }
  }
}