.filter-box {
  padding: 16px;
  width: 320px;
  box-sizing: border-box;
  background: white;
  display: block;
}

.section-title {
  display: block;
  font-size: 12px;
  color: #666;
  margin-bottom: 8px;
  font-weight: 600;
}

.presets-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; // Dwie kolumny
  gap: 8px;
  
  button {
    border: 1px solid #ddd;
    background: white;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;

    &:hover { background: #f5f5f5; }
    
    // Styl dla aktywnego przycisku
    &.active {
      border-color: black;
      background: black;
      color: white;
    }
  }
}

.divider {
  height: 1px;
  background: #eee;
  margin: 16px 0;
}

.inputs-row {
  display: flex;
  flex-direction: column; // Jeden pod drugim
  gap: 15px;
  margin-top: 8px;
}

.data-picker-label {
  display: block;
  font-size: 13px;
  font-weight: 500;
  color: #6b7280;
  margin-bottom: 6px;
  text-transform: capitalize;
  font-family: 'Inter', sans-serif;
}

.clear-btn {
  margin-top: 10px;
  width: 100%;
  background: white;
  color: black;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid grey;
}

.clear-btn:hover {
  background: rgb(244, 241, 241);
}

.apply-btn {
  margin-top: 16px;
  width: 100%;
  background: black;
  color: white;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.apply-btn:hover{
  background: rgb(42, 42, 42);
}

::ng-deep .small-datepicker {
  width: 100%;
  
  .mat-mdc-text-field-wrapper {
    height: 40px; // Zmniejszamy wysokość
    padding: 0;
  }
  
  .mat-mdc-form-field-flex {
    height: 40px;
    align-items: center;
    padding: 0 10px;
  }

  // Ukrywamy miejsce na błędy pod spodem, żeby input nie zajmował tyle miejsca
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}