<mat-card class="user-profile-card">
    <mat-card-header>
        <mat-card-title>Active Sessions</mat-card-title>
    </mat-card-header>

    <mat-card-content class="list-content">
        <div class="session-list-item">
            <div class="icon-container">
                <mat-icon>desktop_windows</mat-icon>
            </div>
            <div class="item-content">
                <div class="item-title">Chrome desktop</div>
                <div class="item-subtitle">Bialystok, Poland</div>
            </div>
            <div class="item-action">
                <button mat-button color="primary">
                    Revoke
                </button>
            </div>
        </div>

        <div class="session-list-item">
            <div class="icon-container">
                <mat-icon>desktop_windows</mat-icon>
            </div>
            <div class="item-content">
                <div class="item-title"></div>
                <div class="item-subtitle"></div>
            </div>
            <div class="item-action">
                <button mat-button color="primary">
                    Revoke
                </button>
            </div>
        </div>

    </mat-card-content>
</mat-card>