<div class="page-container">
  
  <header class="header-section">
    <div class="header-text">
      <h1>Transactions</h1>
      <p>Manage and track your income and expenses</p>
    </div>
    
    <button mat-flat-button color="primary" class="add-btn">
      <mat-icon>add</mat-icon>
      Add Transaction
    </button>
  </header>

  <section class="filters-panel">
    <h3>Filters & Sorting</h3>

    <div class="filters-grid">
      
      <div class="filter-row">
        
        <div class="control-group">
          <label class="field-label">Type:</label>
          <div class="type-buttons">
            <button 
              class="pill-btn" 
              [class.active]="selectedType() === 'ALL'"
              (click)="setType('ALL')">All</button>
            <button 
              class="pill-btn" 
              [class.active]="selectedType() === 'INCOME'"
              (click)="setType('INCOME')">Income</button>
            <button 
              class="pill-btn" 
              [class.active]="selectedType() === 'EXPENSE'"
              (click)="setType('EXPENSE')">Expense</button>
          </div>
        </div>

        <div class="control-group">
          <label class="field-label">Category:</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic" class="small-select">
            <mat-select [(value)]="selectedCategory" (selectionChange)="onCategoryChange($event)">
              <mat-option value="ALL">All</mat-option>
              @for (cat of categories; track cat.id) {
                <mat-option [value]="cat.id">{{ cat.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

        <div class="control-group">
          <label class="field-label">Account:</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic" class="small-select">
            <mat-select [(value)]="selectedAccount" (selectionChange)="onAccountChange($event)">
              <mat-option value="ALL">All</mat-option>
              @for (acc of accounts; track acc.id) {
                <mat-option [value]="acc.id">{{ acc.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="filter-row">
        
        <div class="control-group">
          <label class="field-label">Mode:</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic" class="small-select">
            <mat-select [(value)]="selectedMode" (selectionChange)="onModeChange($event)">
              @for (mode of modeOptions; track mode.value) {
                <mat-option [value]="mode.value">{{mode.label}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

        <div class="control-group">
          <label class="field-label">Period:</label>
          <button class="date-picker-btn" [matMenuTriggerFor]="dateMenu" #menuTrigger="matMenuTrigger">
            <mat-icon>calendar_today</mat-icon>
              <span>{{selectedPeriod()}}</span>
            <mat-icon>expand_more</mat-icon>
          </button>
        </div>

        <mat-menu #dateMenu="matMenu" class="custom-date-menu">
          <div (click)="$event.stopPropagation()">
            <app-date-filter
              (selectedRange)="onDateSelect($event); menuTrigger.closeMenu()"
            >
            
            </app-date-filter>
          </div>
        </mat-menu>

        <div class="control-group">
          <label class="field-label">Sort by:</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic" class="small-select">
            <mat-select [(value)]="selectedSortBy" (selectionChange)="onSortByChange($event)">
              @for (sortField of sortByOptions; track sortField.value) {
                <mat-option [value]="sortField.value">{{sortField.label}}</mat-option>
              }
          </mat-select>
          </mat-form-field>
        </div>

        <div class="control-group">
          <label class="field-label">Order:</label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic" class="small-select">
            <mat-select [(value)]="selectedSortingDirection" (selectionChange)="onSortDirectionChange()">
              <mat-option value="DESC">Descending</mat-option>
              <mat-option value="ASC">Ascending</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
    </div>
  </section>
</div>