<mat-card class="auth-card">
    <mat-card-title>Recover password</mat-card-title>

    <mat-card-content class="card-content">
        <p class="intro-text">
        Enter the email address associated with your account and we will send you a password reset link.
        </p>

        <form [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" type="email" />
            @if (recoverPasswordForm.get('email')?.touched && recoverPasswordForm.get('email')?.hasError('required')) {
            <mat-error>E-mail is requird.</mat-error>
            }
            @if (recoverPasswordForm.get('email')?.hasError('email')) {
            <mat-error>Enter valid address e-mail.</mat-error>
            }
        </mat-form-field>

        <mat-card-actions class="card-actions">
            <button
            mat-flat-button
            color="primary"
            class="submit-button"
            type="submit"
            [disabled]="recoverPasswordForm.invalid || isLoading()">
            @if (!isLoading()) {
                <span>Send</span>
            } @else {
                <mat-spinner [diameter]="24" />
            }
            </button>
        </mat-card-actions>
        </form>
    </mat-card-content>

    <mat-card-footer class="card-footer">
    <span>Remember password? </span>
    <a routerLink="/login">Back to login</a>
    </mat-card-footer>
</mat-card>

