:host {
  display: block;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-toolbar {
  background-color: #ffffff; 
  color: #333333;
  height: 100px;
  padding: 0 80px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}

.title {
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
}

.spacer {
  flex: 1 1 auto;
}

.action-btn {
  background-color: #29B6F6 !important; 
  color: #ffffff !important;
  font-weight: 400;
  border-radius: 8px; 
  box-shadow: none; 
  padding: 20px 25px;
  font-size: 1.1rem;

  display: flex; 
  align-items: center;
  justify-content: center;

  mat-icon {
    margin-right: 8px; /* Odstęp między plusem a tekstem */
    
    /* Opcjonalnie: jeśli ikona wydaje się za mała/za duża względem tekstu */
    font-size: 1.4rem; 
    width: 1.4rem;
    height: 1.4rem;
    line-height: 1.4rem; /* Naprawia pionowe wyrównanie */
  }
}