$primary-color: #3f51b5;
$error-color: #d93025;
$warn-color: #ed6c02;
$income-color: #2e7d32;
$expense-color: #c62828;
$balance-color: #757575;
$default-green: #2e7d32;
$default-light-green: #e8f5e9;
$default-red: #c62828;
$default-light-red: #ffebee;
$default-dark-gray: #222;
$default-gray: #666;
$default-light-gray: #e6e6e6;
$default-light-blue: #f0f4ff;

$font-family-default: "Roboto", "Inter", sans-serif;